@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  margin: 0;
  padding: 0;
}

.barHeader {
  width: 85%;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.barInput {
  width: 500px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ff14a1;
  box-shadow: 0 0 8px 3px rgba(105, 104, 104, 0.1);
  padding: 5px;
  outline: none;
}

.cardsMain {
  display: flex;
  flex-wrap: wrap;
  margin-left: 75px;
  padding-bottom: 50px;
}

.imgBlock {
  width: 250px;
  height: 250px;
  text-align: center;
}

.barCard {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  margin-top: 50px;
  border-radius: 15px;
  margin-right: 50px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 8px 3px rgba(105, 104, 104, 0.1);
  transition: 0.4s;
}

.barCard:hover {
  border: 1px solid rgba(105, 104, 104, 0.1);
  box-shadow: 0 0 8px 3px rgba(105, 104, 104, 0.1);
  transform: scale(1.06);
}

.bar_h3 {
  margin-left: 10px;
  padding-bottom: 5px;
}

.barIcons {
  width: 250px;
  border-radius: 10px;
}

.aboutSneak {
  padding-left: 10px;
}

.aboutSneak button {
  margin-left: 5px;
  width: 220px;
  height: 40px;
  box-shadow: 0px 2px 10px rgb(255 20 161 / 60%);
  border: 1px solid #ff14a1;
  text-transform: uppercase;
  background: rgba(215, 34, 164, 0.732);
  color: #ffffff;
  border-radius: 5px;
  transition: 0.3s;
}

.aboutSneak button:hover {
  background-color: #fff;
  color: #ff14a1;
  border: 1px solid #ff14a1;
}

.aboutSneak button:disabled {
  background-color: #66264fb8;
  box-shadow: none;
  color: white;
  border: none;
  opacity: 0.8;
}

.barContant {
  width: 90%;
  margin: auto;
}

.aboutSneak p {
  padding-bottom: 5px;
}

.barFind {
  width: 120px;
  height: 40px;
  box-shadow: 0px 2px 10px rgb(255 20 161 / 60%);
  border: 1px solid #ff14a1;
  text-transform: uppercase;
  background: rgba(177, 66, 145, 0.5);
  color: #ffffff;
  border-radius: 5px;
  margin-left: 10px;
}

.barFind:hover {
  background-color: #fff;
  color: #ff14a1;
  border: 1px solid #ff14a1;
}

.barLinks {
  text-decoration: none;
  color: #fff;
}

.barList {
  width: 650px;
  color: #fff;
  font-size: 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  margin-left: 73px;
}

.barList li {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.notfound {
  margin-top: 30px;
}

.notfound-img {
  width: 400px;
  border-radius: 20px;
  opacity: 0.5;
}

.barList li button:hover {
  color: #0d6efd;
  cursor: pointer;
}

.barList li button {
  margin-left: 8px;
  border: none;
  outline: none;
  background: none;
  color: white;
}

.barList li button:disabled {
  color: #0d6efd;
  cursor: auto;
}

.cart-btn-wrapper {
  position: fixed;
  right: 110px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.564);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.cartButton {
  position: relative;
}

.empty-cart {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin: 30px;
}

.cart {
  position: absolute;
  top: 60px;
  right: 30px;
  width: 500px;
  max-height: 400px;
  background-color: rgba(255, 255, 255, 0.852);
  border-radius: 5px;
  overflow-y: scroll;
}

.cart::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background-color: #7a1958;
}

.cart::-webkit-scrollbar-thumb {
  background-color: #ba4f91;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

.cart-items-list {
  padding: 5px;
  padding-left: 10px;
}

.cart-item {
  margin-top: 25px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  transition: 0.1s;
  cursor: pointer;
}

.cart-item:hover {
  box-shadow: 0 0 6px 1px #ff14a1;
  border-radius: 5px;
}

.item-img {
  width: 50px;
  border-radius: 10px;
}

.item-name {
  font-size: 20px;
  font-weight: 500;
  margin: 0 10px 0 10px;
}

.item-amount {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.remove-item {
  padding-left: 10px;
}

.item-amount .material-symbols-outlined {
  font-size: 27px;
}

.remove-item:hover {
  color: #ff14a1;
}

.amount-number {
  padding: 0 10px 0 10px;
}

.increase,
.decrease {
  font-size: 25px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
}

.increase:hover,
.decrease:hover {
  color: #ff14a1;
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 50px;
  color: #ff14a1;
  cursor: pointer;
}
