* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.personal_booking {
    width: 30%;
    margin: auto;
    border: 2px solid rgba(71, 126, 232, 0.7);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 200px;
}
.personal_pc {
    width: 30%;
    border: 1px solid rgba(71, 126, 232, 0.7);
    border-radius: 8px;
    margin: auto;
    color: #fbef07;

}
