* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.booking_main {
  width: 100%;
  height: 700px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.place_cart {
  width: 50%;
  height: 500px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.726);
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  border: 1px solid rgb(204, 0, 255);
}

.place {
  width: 50px;
  height: 40px;
  color: rgb(234, 0, 255);
  background-color: #000000;
  border: 1px solid rgb(234, 0, 255);
  margin: 10px;
  margin-left: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 13px;
}
.place_check {
  width: 50px;
  height: 40px;
  color: white;
  background-color: #000000;
  border: 1px solid red;
  margin: 10px;
  margin-left: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 13px;
}
.booking {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background-image: url("https://phonoteka.org/uploads/posts/2021-05/1621919788_19-phonoteka_org-p-fon-s-kalashom-19.jpg");
}
.zal h1 {
  font-size: 20px;
  margin: auto;
  text-align: center;
}
.zal {
  width: 100%;
  text-align: center;
}
