.cart_config {
  padding: 64px 40px 50px;
  background: #0d0d0d;
  border: 1px solid #ED37A4;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 35%);
  text-align: center;
  width: calc(25% - 30px);
  margin: 0 15px;
  color: white;
}
.cart_config img {
  height: 130px;
}

.cart_config h1 {
  font-size: 18px;
  color: white;
  padding-top: 10px;
}

.config_p {
    width: 250px;
    margin: auto;
    padding-top: 20px;
    line-height: 20px;
}

.config_sec {
  min-width: 320px;
  max-width: 1610px;
  padding: 0 40px 0 40px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.arsenal {
  font-weight: 800;
  font-size: 45px;
  line-height: 54px;
  letter-spacing: 0.02em;
  color: black;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 40px;
  color: white;
}
.finding {
  background: #222426;
  position: relative;
  padding-top: 110px;
  padding-bottom: 140px;
}
