@import url("//db.onlinewebfonts.com/c/258f25658f1456fd0206d4fb09b637fe?family=AcromW00-Regular");
.deni__footer {
  width: 1440px;
  margin: auto;
  height: 460px;
  background-color: #000851;
}
.footer__top {
  padding-top: 70px;
  padding-bottom: 70px;
}
.deni__wrapper {
  width: 1440px;
}
.footer-top__box {
  display: flex;
  width: 1360px;
  margin: auto;
}
.footer-col {
  display: flex;
  margin-right: 90px;
  width: 31%;
  justify-content: space-between;
}
.footer-nav__box {
  font-weight: 900;
  font-family: "AcromW00-Regular";
}
.footer-nav__box .footer-nav li a {
  font-weight: bold;
  margin-right: 30px;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.footer-nav__box .footer-nav li a:hover {
  color: #5fcce4;
  transition: 0.3s;
}
.main-nav-list__item {
  margin-top: 8px;
}
.footer-nav__box .footer-nav li {
  list-style-type: none;
}
.footer-social {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
}
.social-icon {
  margin-top: 30px;
  list-style-type: none;
  width: 86px;
  height: 86px;
  padding: 15px 17px;
  border: 2px solid #5fcce3;
}
.social-icon:hover {
  background-color: #5fcce3;
  transition: 0.3s;
}
.social {
  color: #e9379d;
}
.social:hover {
  color: black;
}
.js-img {
  margin-top: 40px;
}
.footer-col__center {
  margin-top: 24px;
  width: 320px;
  height: 253px;
  padding: 51px 20px;
  border: 1px solid #11cfe7;
  margin-right: 80px;
}

.footer-call__text{
  font-size: 21px;
  line-height: 34px;
  width: 280px;
  font-family: "AcromW00-Regular";
  margin-bottom: 10px;
  color: #fff;
  text-align-last: center;
}
.deni__btn{
  display: inline-block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  font-family: "AcromW00-Regular";
  white-space: nowrap;
  box-shadow: 0px 2px 10px rgb(255 20 161 / 60%);
  border: 3px solid #FF14A1;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  background: rgba(177, 66, 145, 0.5);
  padding: 18px;
  color: #FFFFFF;
}
.footer-col__info{
  padding: 20px;
  display: flex;
  border: 1.5px solid #11cfe7;
  width: 450px;
  height: 111px;
  margin-top: 24px;
}
.social_end{
  list-style-type: none;
  margin-right: 30px;
  padding: 14px;
  color: #e9379d;
}
.footer-info__block{
  border: 2px solid #5fcce3;
  height: 65px;
  width: 65px;
  margin-right: 30px;
}
.social_end:hover {
  color: black;
}
.footer-info__block:hover {
  background-color: #5fcce3;
  transition: 0.3s;
}
.deni__number{
  margin-top: 20px;
}
.deni__link{
  text-decoration: none;
  color: white;
  font-size: 23px;
  font-family: "AcromW00-Regular";
}
.footer__col__info{
  border: 1px solid green;
  width: 450px;
  height: 111px;
  margin-top: 100px;
}
.deni__link:hover{
    color: #5fcce3;
    transition: .3s;
}