@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

h1, h2, h3, h4, p, ul, li, span {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.container {
  width: 1600px;
  margin: auto
}

header {
  width: 100%;
  height: 90px;
  margin: auto;
  align-items: center;
  background-color: black;
}

main {
  width: 100%;
  height: 1000px;
  background-color: gray;
  background: linear-gradient(#700D63 0%, #ED37A4 73.44%)
}

.list {
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  line-height: 90px;
  font-size: 22px;
}

.link {
  text-decoration: none;
  color: #fff;
}

.signIn {
  width: 150px;
  height: 50px;
}

.titleImg {
  margin-top: 30px;
}

.flexTitle {
  display: flex;
  padding-top: 20px;
}

.titleText {
  margin-left: 150px;
  margin-top: 50px;
}

h1 {
  color: #fff;
  font-size: 60px;
}

.titleBtn {
  width: 350px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 0px 2px 10px rgb(255 20 161 / 60%);
  border: 3px solid #FF14A1;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  background: rgba(177, 66, 145, 0.5);
  padding: 18px;
  color: #FFFFFF;
  border-radius: 5px;
}

.buttons {
  width: 720px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.map {
  width: 720px;
  margin-top: 20px;
}

.map img {
  border-radius: 5px;
}