@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

h1, h2, h3, h4, p, ul, li, span {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.container {
  width: 1600px;
  margin: auto
}

header {
  width: 100%;
  height: 90px;
  margin: auto;
  align-items: center;
  background-color: #222426;
  position: fixed;
  opacity: 0.9;
  z-index: 2;
}

main {
  width: 100%;
  height: 1000px;
  background-color: gray;
  background: linear-gradient(#700D63 0%, #ED37A4 73.44%);
  padding-top: 70px;
}

.logo {
  color: #fff;
  font-size: 60px;
  font-weight: bold;
}

.list {
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  line-height: 90px;
  font-size: 22px;
}

.link {
  text-decoration: none;
  color: #fff;
}

.signIn {
  width: 150px;
  height: 60px;
  text-align: center;
  box-shadow: 0px 2px 10px rgb(255 20 161 / 60%);
  border: 3px solid #FF14A1;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  background: rgba(177, 66, 145, 0.5);
  color: #FFFFFF;
  border-radius: 5px;
  transition: 0.4s;
}

.signIn:hover {
  background-color: #fff;
  color: #ff14a1;
  border: 3px solid #ff14a1;
}

.titleImg {
  margin-top: 30px;
}

.flexTitle {
  display: flex;
  padding-top: 20px;
}

.titleText {
  margin-left: 150px;
  margin-top: 50px;
}

h1 {
  color: #fff;
  font-size: 60px;
}

.titleBtn {
  width: 350px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 0px 2px 10px rgb(255 20 161 / 60%);
  border: 3px solid #FF14A1;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  background: rgba(177, 66, 145, 0.5);
  padding: 18px;
  color: #FFFFFF;
  border-radius: 5px;
}

.titleBtn:hover {
  background-color: lightpink;
  border: 3px solid #ed37a4;
  color: #ed37a4;
}

.buttons {
  width: 720px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.map {
  width: 720px;
  margin-top: 20px;
}

.map img {
  border-radius: 5px;
}

.flexQuesion {
  width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: #222426;
  padding: 20px 10px;
  border-left: 7px solid rgb(255, 51, 255);
  border-radius: 5px;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.3);
}

.answer {
  width: 880px;
  margin: auto;
  padding: 20px 20px;
  background-color: lightgray;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
}

.block {
  margin-top: 10px;
}

.questionsSection {
  background-color: #ED37A4;
  padding-top: 20px;
  padding-bottom: 80px;
}

.questionsSection h2 {
  width: 900px;
  padding: 20px 0;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: "YS Text Regular";
  font-size: 32px;
  text-align: center;
  color: #fff;
  background-color: #222426;
  border: 1px solid #700d63;
  border-radius: 10px;
}

/* .line {
  width: 50%;
  margin: auto;
  height: 5px;
  background-color: #222426;
  border-radius: 5px;

} */

.questBtn {
  width: 40px;
  height: 40px;
  text-align: center;
  box-shadow: 0px 2px 10px rgb(255 20 161 / 60%);
  border: 3px solid #FF14A1;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  background: rgba(177, 66, 145, 0.5);
  color: #ffffff;
  border-radius: 5px;
  color: #ffffff;
}

.cardsSection {
  background-color: #ed37a4;
  padding-top: 20px;
  padding-bottom: 40px;
}

.itemsSection {
  background-color: #222426;
  padding-top: 20px;
  height: 400px;
}

.modal {
  width: 90px;
  height: 90px;
  position: fixed;
  top: 880px;
  left: 1750px;
  border-radius: 50%;
  background-color: #222426;
  z-index: 2;
}

.modalImg {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.chatModal {
  width: 280px;
  height: 450px;
  border-radius: 10px;
  background-color: #fff;
  position: fixed;
  top: 400px;
  left: 1550px;
  z-index: 1;
  box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.6);
}

.messagesBlock {
  width: 100%;
  height: 390px;
  background-color: pink;
  border-radius: 5px;
}

.sendInput {
  width: 180px;
  height: 35px;
  border: 1px solid #ed37a4;
  color: #ed37a4;
  border-radius: 5px;
  outline: none;
}

.send {
  margin-left: 5px;
  width: 80px;
  height: 35px;
  box-shadow: 0px 2px 10px rgb(255 20 161 / 60%);
  border: 3px solid #ff14a1;
  text-transform: uppercase;
  background: rgba(177, 66, 145, 0.5);
  color: #ffffff;
  border-radius: 5px;
}

.flexMessage {
  width: 95%;
  margin: auto;
  display: flex;
  padding-top: 12px;
}

.userText {
  width: 200px;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

.sendMessages {
  padding-top: 180px;
}

.barSection {
  width: 100%;
  min-height: 1000px;
  background: linear-gradient(#700d63 0%, #ed37a4 73.44%);
  padding-top: 90px;
}